div.b-add
  div.b-add__item
    a(href="/filtrs")= '+ ' + header.add_filter
  div.b-add__item 
    a(href="/add_task")= '+ ' + header.add_task
  div.b-add__item
    a(href="/add_project")= '+ ' + header.add_project
  div.b-add__item
    a(href="/reg_u")= '+ ' + header.add_user