doctype html5
html
  head
    include head
    
  body
    include header
    div.b
      
      div.b-projs
        - each f in filters
          div.b-note
            div.b-note__title= f.name
            div.b-note__body
              include tasks

    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/index.js')